@tailwind base;
@tailwind components;
@tailwind utilities;

.customBg {
  background: linear-gradient(
    223deg,
    #051a91 -4.31%,
    #061c93 14.41%,
    #2284f1 81.88%,
    #1f80eb 103.81%
  );
}

.customTextBg {
  background: linear-gradient(180deg, #06286e 0%, #164ec0 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
